.Login_Box{
    width:100%;
    height: 100%;
    background: url(./img/login_background.jpg) center no-repeat;
    background-size: cover;
}

.Login {
    width: 1201px;
    height: 646px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    display: -webkit-box;
}

.LoginElement {
    height: 100%;
    width: 700px;
    background: rgba(227,64,128,.9);
    position: relative;
}

.LoginElement span {
    background: url(./img/login_title.png) center no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.LoginUser {
    background: #fff;
    float: left;
    width: 500px;
    position: relative;
    z-index: 2000;
}

.LoginToggle{
    width: 104px;
    height: 106px;
    background: url(./img/login_admin.png) no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.LoginWelcome {
    color: #323232;
    font-size: 24px;
    text-align: center;
    margin-top: 163px;
    height: 30px;
    line-height: 30px;
}

.LoginWelcomeAther {
    color: #afaeae;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
    height: 30px;
}

.LoginAdmin {
    width: 340px;
    margin: 93px auto 0;
}

.LoginAdminElement {
    color: #323232;
    line-height: 35px;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    font-size: 18px;
}

.LoginAdminPassWord {
    width: 340px;
    margin: 40px auto 0;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    font-size: 18px;
}

.LoginButton {
    height: 50px;
    width: 100%;
    border-radius: 50px;
    background: #e34080;
    outline: none;
    border: none;
    margin-top: 60px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    opacity: .75;
}

.LoginButton:hover {
    transition: .3s;
    opacity: 1;
}

.UserLogin {
    background: url(./img/login_user.png);
}

.LoginOtherUser {
    overflow: hidden;
    margin-top: 60px;
}

.LoginOtherUsercCode {
    width: 193px;
    height: 192px;
    background: url(./img/code.png) center no-repeat;
    margin: 0 auto;
}

.LoginOtherUserTips {
    color: #606060;
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
}